<div id="<%= dom_id task_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Task type:</strong>
    <%= task_type.task_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this task type", task_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this task type', edit_task_type_path(task_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
