<div id="contracts" class="flex mt-4">
  <div class="mr-8 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="text-sm text-left text-gray-500">
      <thead class="text-xs uppercase bg-gray-400 text-black ">
        <tr>
          <th scope="col" class="px-2 py-4">
              No.
          </th>
          <th scope="col" class="px-4 whitespace-nowrap">
              Project name
          </th>
          <th scope="col" class="px-2">
              Number
          </th>
          <th scope="col" class="px-2">
              Company
          </th>
          <th scope="col" class="px-2">
              Price
          </th>
          <th scope="col" class="px-2">
              Description
          </th>
          <th scope="col" class="px-2">
              Type
          </th>
          <th scope="col" class="px-2">
              Status
          </th>
          <th scope="col" class="px-2">
              By
          </th>
          <th scope="col" class="px-2">
              Estim.
          </th>
          <th scope="col" class="px-2">
              Eng.
          </th>
          <th scope="col" class="bg-white text-white px-2">
          </th>
          <th scope="col" class="px-2 py-4 whitespace-nowrap">
              Job inn
          </th>
          <th scope="col" class="px-2 py-4">
              Rel Req
          </th>
          <th scope="col" class="px-2 py-4">
              Start
          </th>
          <th scope="col" class="px-2 py-4">
              Rel DWG
          </th>
          <th scope="col" class="px-2 py-4">
              Sal
          </th>
          <th scope="col" class="px-2 py-4">
              WRK DAYS
          </th>
        </tr>
      </thead>
      <%= render partial: 'contract', collection: contracts %>
    </table>
  </div>
</div>