<%= render partial: "sidebar-2" %>

<div class="mx-auto mt-4">
  <h1 class="font-bold text-4xl text-black">
    <span class="text-blue-500">Editing</span> 
    <span><%= @contract.job_name %></span>
  </h1>

  <%= render "form", contract: @contract %>
  
</div>
