<%= render partial: "sidebar-2" %>

<main class="w-full overflow-y-auto">
  <div class="flex items-center w-full mt-12">
    <% @work_statuses.each_key do |key| %>
      <div class="flex flex-col items-center justify-center m-2 space-x-4">
        <p class="flex w-20 h-20 rounded-full bg-blue-900 text-white items-center justify-center border-4 border-blue-950 text-3xl"> 
          <%= @work_statuses_count[key] || 0 %> 
        </p>
        <p class="text-center uppercase mt-4 text-slate-700 text-xl"> 
          <%= key %> 
        </p>
      </div>
    <% end %>
  </div>
</main>
