<%= render partial: "sidebar-2" %>

<main class="w-full overflow-y-auto p-4">
  <div class="flex items-center mt-4">
    <% @work_statuses.each_key do |key| %>
      <div class="flex flex-col items-center justify-center m-2 w-32">
        <div class="flex items-center justify-center w-20 h-20 rounded-full bg-blue-900 text-white border-4 border-blue-950 text-3xl"> 
          <%= link_to @work_statuses_count[key], contracts_path(work_status: key) || 0 %> 
        </div>
        <p class="text-center uppercase mt-4 text-slate-700 text-xl"> 
          <%= link_to key, contracts_path(work_status: key) %> 
        </p>
      </div>
    <% end %>
  </div>

  <% @contracts_by_status.each do |status, contracts| %>
    <%= render partial: "table_contracts", locals: { contracts: contracts, title: status.capitalize } %>
  <% end %>

</main>
