<%= render partial: "sidebar" %>

<main class="flex w-full">
  <div class="flex items-center justify-around flex-wrap w-1/2 mt-16">
    <% @work_statuses.each_key do |key| %>
      <div class="flex flex-col items-center justify-center m-12">
        <p class="flex w-28 h-28 rounded-full bg-blue-900 text-white items-center justify-center border-4 border-blue-950 text-5xl"> 
          <%= link_to (@work_statuses_count[key] || 0), contracts_path(work_status: key) %>
        </p>
        <p class="text-center uppercase mt-4 text-slate-700 text-2xl"> 
          <%= link_to key, contracts_path(work_status: key) %> 
        </p>
      </div>
    <% end %>
  </div>
  <div class="flex justify-center items-center w-1/2 text-sapiBlue">
    <%= pie_chart Contract.contracts_count_by_status, 
                  donut: true,
                  colors: ["#1a5294", "#165a85", "#114476", "#0c2e67", "#082058", "#041349"], 
                  legend: "bottom",
                  width: "400px",
                  height: "400px"

    %>
  </div>
</main>
