<%= render partial: "sidebar" %>

<main class="flex w-full">
  <div class="w-1/2">
    <% @work_statuses.each_key do |key| %>
      <div>
        <%= @work_statuses_count[key] || 0 %>
        <%= key %>
      </div>
    <% end %>
  </div>
  <div class="w-1/2 text-sapiBlue">
  hola
  </div>
</main>
