
  <header class="flex items-center bg-green-500 h-24">
    <div class="ml-4">
      Logo
    </div>
    <div class="ml-10">
      <%#= link_to "Home", root_path %>
      <%= link_to "Status", work_statuses_path %>
      <%#= link_to "Planning", root_path %>
      <%#= link_to "Charts", root_path %>
      <%#= link_to "Quality", root_path %>
      <%#= link_to "W Force", root_path %>
    </div>
  </header>


